.editPassword__body {
  h3 {
    color: white;
  }
  background-color: #1c1c1c;
  margin: 60px 0 0 0;
  padding: 50px 50px 0 50px !important;
  border-radius: 20px;
  height: 550px;
  max-width: 600px !important;
  justify-content: center;
  text-align: center;
}
