.profil__body {
  color: white;
  .imgProfile {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  .profil__settings {
    left: 90px;
    &:focus {
      outline: none;
    }
    .MuiSvgIcon-root {
      color: white;
      &:hover {
        transition: 0.5s;
        color: #1de9b6;
      }
    }
  }
  .profil__grid {
    margin: 5px 0;
    text-align: center;
  }
}
.profil_menu {
  .MuiList-root {
    background-color: #2c2c2c !important;
  }
  .MuiMenuItem-root a {
    color: white !important;
    &:hover {
      text-decoration: none;
      transition: 0.5s !important;
      color: #1de9b6 !important;
    }
  }
}
